extends includes/base.pug
block seo
    title Contacte | Fundació Foment del Bàsquet
    meta(name="description" content="Contacte amb la Fundació Foment del Bàsquet")

block body
    article
        +ge-bc-header("Contacte","static/images/contacte.jpg")
        section.bc
            .bc-wrap
                .bc-1c
                    p <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdF030MS3wX4PXcw6Hf-kbq1LcaAHNqhy6bYrJDNCCF8b5qXQ/viewform?embedded=true" width="1280" height="930" frameborder="0" marginheight="0" marginwidth="0">S&#39;està carregant…</iframe>