extends includes/base.pug
block body
    article
        +ge-bc-header("Donacions","/static/images/portada/presentacio-equips-2020.jpg")
        section.bc
            .bc-wrap
                .bc-1c
                    h2.bc__title Beneficis fiscals per col.laborar
                    p Si feu una donació o dues a la Fundació Foment del Bàsquet, ja sigui com a persona física o com a persona jurídica, tindreu beneficis fiscals en la vostra declaració de la renda. 
                <div class="flex">
                .bc-1c 
                    <div class="bg-green-400 p-6 m-1">
                        h2.bc__title 150€
                        p Text text text text. Text text text text. Text text text text. Text text text text. Text text text text. 
                    </div>
                .bc-2c 
                    <div class="bg-gray-200 p-6 m-1">
                        h2.bc__title 75%
                        p Text text text text. Text text text text. Text text text text. Text text text text. Text text text text. 
                    </div>
                .bc-3c 
                    <div class="bg-gray-200 p-6 m-1 rounded-lg">
                        h2.bc__title 35%
                        p Text text text text. Text text text text. Text text text text. Text text text text. Text text text text.
                </div>
                section.bc.bc--dark_blue
            .bc-wrap
                <div class="flex">
                    <div class="bg-red-400 p-6 m-1 rounded-lg">
                        h2.bc__title Menys de 150€
                        p Text text text text. Text text text text. Text text text text. Text text text text. Text text text text. 
                    </div>
                    <div class="bg-gray-200 p-6 m-1 rounded-lg">
                        h2.bc__title Títol caixa 1
                        p Text text text text. Text text text text. Text text text text. Text text text text. Text text text text. 
                    </div>
                    <div class="bg-gray-200 p-6 m-1 rounded-lg">
                        h2.bc__title Títol caixa 1
                        p Text text text text. Text text text text. Text text text text. Text text text text. Text text text text.
                </div>
        section.bc.bc--light_blue
            .bc-wrap
                .bc-1c
                    h2.bc__title Subvencions rebudes
                    p lorem
        section.bc.bc--dark_blue
            .bc-wrap
                .bc-1c
                    h2.bc__title Subvencions/ Ajuts concedits
                    p lorem