extends includes/base.pug
block seo
    title Donacions | Fundació Foment del Bàsquet
    meta(name="description" content="Avantatges fiscals de les donacions a la Fundació Foment del Bàsquet")
    
block body
    article
        +ge-bc-header("Donacions","static/images/donacions.jpg","Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet")
        section.bc
            .bc-wrap
                .bc-1c
                    h1.bc__title Beneficis fiscals per col.laborar
                    p Si feu una donació o dues a la Fundació Foment del Bàsquet, ja sigui com a persona física o com a persona jurídica, tindreu beneficis fiscals en la vostra declaració de la renda. 
                .bc-2c    
                    section
                        h2.bc__subtitle Primers 150€ anuals
                        p Tens avantatges fiscals en cas de donació de fins a 150€.
                    section
                        h2.bc__subtitle 75% de desgravació
                        p Podràs desgravar-te el 75% de tots els donatius fets a ONGs i fundacions fins un màxim de 150€
                    section
                        h2.bc__subtitle Import restant 
                        p Per a l'import restant (més de 150€), aquesta és la desgravació que rebràs:
                    section
                        h2.bc__subtitle +30% de desgravació afegida
                        p Podràs desgravar-te també el 30% de l'import del teu donatiu que excedeixi als primers 150€
