extends includes/base.pug
block body
    article
        +ge-bc-header("Economia","https://picsum.photos/800/1400")
        section.bc
            .bc-wrap
                .bc-1c
                    h2.bc__title Comptes anuals
                    p lorem
                
        section.bc.bc--light_blue
            .bc-wrap
                .bc-1c
                    h2.bc__title Subvencions rebudes
                    p lorem
        section.bc.bc--dark_blue
            .bc-wrap
                .bc-1c
                    h2.bc__title Subvencions/ Ajuts concedits
                    p lorem
        
                
        
