extends includes/base.pug
block body
    article
        +ge-bc-header("Benvinguts!","/static/images/portada/presentacio-equips-2020.jpg")
        section.bc
            .bc-wrap
                .bc-2c
                    div
                        h2.bc__title Fundació Foment del Bàsquet
                        p Benvinguts al lloc web de la Fundació Foment del Bàsquet, de la ciutat de Manresa i amb l'objectiu de promocionar el nostre esport entre els més petits. 
                    div
                        img.w-full(src="/static/images/portada/base-portada.jpg", alt="Fundació Foment del Bàsquet")
                        
        section.bc.bc--light_blue
            .bc-wrap
                .bc-1c
                    h2.bc__title Subvencions rebudes
                    p lorem
        section.bc.bc--dark_blue
            .bc-wrap
                .bc-1c
                    h2.bc__title Subvencions/ Ajuts concedits
                    p lorem