extends includes/base.pug
block body
    article
        +ge-bc-header("Equip Lliga Endesa","/static/images/teams/primer-equip.jpg")
        section.bc
            .bc-wrap
                .bc-2c
                    div
                        h2.bc__title Plantilla BAXI Manresa 2020 - 2021
                        a(class="p-2 text-blue-900 transition-all duration-500 bg-blue-100 hover:bg-blue-900 hover:text-white" href="https://www.basquetmanresa.com/equips/2020/baxi-manresa/") veure la plantilla
                    div
                        img.w-full(src="/static/images/about/plantilla-2020-21.jpg", alt="plantilla lliga endesa")
        section.bc.bc--light_blue
            .bc-wrap
                .bc-2c
                    div
                        h2.bc__title Palmarès
                        p Des de 1931, Manresa i la comarca del Bages gaudeixen de bon bàsquet, i en tots aquests anys el club s’ha anat adaptant al ritme dels temps, canviant de nom, de pavelló, de categoria,… però sempre mantenint viu l’esperit del bàsquet i el suport dels aficionats. Sempre lluitant per estar entre els millors, el que ha aconseguit títols com la Copa del Rei, la Lliga ACB, o 
                    .grid.grid-cols-2
                        img.w-full(src="/static/images/palmares/lliga-perfilada.png", alt="lliga acb basquet manresa")
                        img.w-full(src="/static/images/palmares/copa-perfilada.png", alt="copa rei basquet manresa")
        section.bc.bc--dark_blue
            .bc-wrap
                .bc-1c
                    h2.bc__title Jugadors emblemàtics
                ul.bc-emb_players
                    li Joan Creus
                    li Roger Grimau
                    li Serge Ibaka
                    li Rafa Martínez
                    li Albert Oliver
                    li Pep Pujolràs
                    li Juan Domingo de la Cruz
                    li Adam Hanga
                    li Juan Alberto Espil
                    li Andrés Nocioni
                    li Rolando Frazer
                    li George Gervin
                    li Granger Hall
                    li Nate Higgs
                    li Jeff Lamp
                    li Linton Townes
                    li Justin Doellman
                    li Derrick Alston

                    
