extends _includes/base.pug
block seo
    title Equip Lliga Endesa | Fundació Foment del Bàsquet
    meta(name="description" content="Plantilla de l'equip de la Lliga Endesa")

block body
    article
        +ge-bc-header("Equip Lliga Endesa","static/images/teams/primer-equip.jpg","Una història d'esforç, passió i èpica. Una llegenda del bàsquet estatal.")
        section.bc
            .bc-wrap
                .bc-2c
                    div
                        h2.bc__title Plantilla BAXI Manresa 2022 - 2023
                        a(class="p-2 text-blue-900 transition-all duration-500 bg-blue-100 hover:bg-blue-900 hover:text-white" href="https://www.basquetmanresa.com/equips/2023/baxi-manresa/") veure la plantilla
                    div
                        img(src="static/images/about/plantilla-2020-21.jpg", alt="plantilla lliga endesa")
        section.bc.bc--light_blue
            .bc-wrap
                .bc-2c
                    div
                        h2.bc__title Palmarès
                        p El Bàsquet Manresa va viure la seva època daurada durant la dècada dels '90. L'any 1996 s'aconseguia, contra tot pronòstic, guanyar la Copa del Rei, a Múrcia. Dos anys més tard, l'aleshores TDK Manresa materialitzava una de les gestes esportives més recordades de tots els temps, guanyant la Lliga ACB després de derrotar Estudiantes, Real Madrid i TAU de Vitòria. A banda d'aquests grans títols, el Bàsquet Manresa ha guanyat també la Lliga Catalana en dues ocasions (1997 i 1999), i ha aconseguit l'ascens guanyant la LEB el 2007, i guanyant el play-off d'ascens el 2018. 
                    .bc-palmares
                        img(src="static/images/palmares/lliga-perfilada.png", alt="lliga acb basquet manresa")
                        img(src="static/images/palmares/copa-perfilada.png", alt="copa rei basquet manresa")
        section.bc.bc--dark_blue
            .bc-wrap
                .bc-1c
                    h2.bc__title Jugadors emblemàtics
                ul.bc-emb_players
                    li Joan Creus
                    li Roger Grimau
                    li Serge Ibaka
                    li Rafa Martínez
                    li Albert Oliver
                    li Pep Pujolràs
                    li Juan Domingo de la Cruz
                    li Adam Hanga
                    li Juan Alberto Espil
                    li Andrés Nocioni
                    li Rolando Frazer
                    li George Gervin
                    li Granger Hall
                    li Nate Higgs
                    li Jeff Lamp
                    li Linton Townes
                    li Justin Doellman
                    li Derrick Alston

                    
