extends _includes/base.pug
block seo
    title Transparència | Fundació Foment del Bàsquet
    meta(name="description" content="Documentació de la Fundació - Llei de transparència")
    
block body
    article
        +ge-bc-header("Transparència","static/images/transparencia/transparencia.jpg","Una ciutat entregada al seu equip. Un equip bolcat a la seva ciutat.")
        section.bc
            .bc-wrap
                .bc-1c
                    div
                        h2.bc__title Documentació de la Fundació Foment del Bàsquet
                        ul.tr-list 
                            li: a( href="https://fundacio.basquetmanresa.com/static/pdf/transparencia.pdf") Transparència
                            li: a( href="https://fundacio.basquetmanresa.com/static/pdf/estatuts-adaptats-2016.pdf") Estatuts adaptats 2016
                            li: a( href="https://fundacio.basquetmanresa.com/static/pdf/comptes-anuals-2017-18.pdf") Comptes anuals 2017-2018
                            li: a( href="https://fundacio.basquetmanresa.com/static/pdf/comptes-anuals-2018-19.pdf") Comptes anuals 2018-2019
                            li: a( href="https://fundacio.basquetmanresa.com/static/pdf/comptes-anuals-2019-20.pdf") Comptes anuals 2019-2020
                            li: a( href="https://fundacio.basquetmanresa.com/static/pdf/comptes-anuals-2020-21.pdf") Comptes anuals 2020-2021
                            li: a( href="https://fundacio.basquetmanresa.com/static/pdf/comptes-anuals-2021-22.pdf") Comptes anuals 2021-2022
                            li: a( href="https://fundacio.basquetmanresa.com/static/pdf/memoria-2017-18.pdf") Memòria 2017-2018
                            li: a( href="https://fundacio.basquetmanresa.com/static/pdf/memoria-2018-19.pdf") Memòria 2018-2019
                            li: a( href="https://fundacio.basquetmanresa.com/static/pdf/memoria-2019-20.pdf") Memòria 2019-2020

