extends _includes/base.pug
block seo
    title Transparència | Fundació Foment del Bàsquet
    meta(name="description" content="Documentació de la Fundació - Llei de transparència")
    
block body
    article
        +ge-bc-header("Transparència","static/images/transparencia/transparencia.jpg","Una ciutat entregada al seu equip. Un equip bolcat a la seva ciutat.")
        section.bc
            .bc-wrap
                .bc-2c
                    div
                        h2.bc__title Documentació de la Fundació Foment del Bàsquet
                        .collapse
                            a(class="p-2 text-blue-900 transition-all duration-500 bg-blue-100 hover:bg-blue-900 hover:text-white" href="https://fundacio.basquetmanresa.com/static/images/pdf/transparencia.pdf") Transparència
                            a(class="p-2 text-blue-900 transition-all duration-500 bg-blue-100 hover:bg-blue-900 hover:text-white" href="https://fundacio.basquetmanresa.com/static/images/pdf/estatuts-adaptats-2016.pdf") Estatuts adaptats 2016
                            a(class="p-2 text-blue-900 transition-all duration-500 bg-blue-100 hover:bg-blue-900 hover:text-white" href="https://fundacio.basquetmanresa.com/static/images/pdf/comptes-anuals-2017-18.pdf") Comptes anuals 2017-2018
                            a(class="p-2 text-blue-900 transition-all duration-500 bg-blue-100 hover:bg-blue-900 hover:text-white" href="https://fundacio.basquetmanresa.com/static/images/pdf/comptes-anuals-2018-19.pdf") Comptes anuals 2018-2019
                            a(class="p-2 text-blue-900 transition-all duration-500 bg-blue-100 hover:bg-blue-900 hover:text-white" href="https://fundacio.basquetmanresa.com/static/images/pdf/comptes-anuals-2019-20.pdf") Comptes anuals 2019-2020
                            a(class="p-2 text-blue-900 transition-all duration-500 bg-blue-100 hover:bg-blue-900 hover:text-white" href="https://fundacio.basquetmanresa.com/static/images/pdf/memoria-2017-18.pdf") Memòria 2017-2018
                            a(class="p-2 text-blue-900 transition-all duration-500 bg-blue-100 hover:bg-blue-900 hover:text-white" href="https://fundacio.basquetmanresa.com/static/images/pdf/memoria-2018-19.pdf") Memòria 2018-2019
                            a(class="p-2 text-blue-900 transition-all duration-500 bg-blue-100 hover:bg-blue-900 hover:text-white" href="https://fundacio.basquetmanresa.com/static/images/pdf/memoria-2019-20.pdf") Memòria 2019-2020
                    div

