extends _includes/base.pug
block seo
    title Transparència | Fundació Foment del Bàsquet
    meta(name="description" content="Documentació de la Fundació - Llei de transparència")
    
block body
    article
        +ge-bc-header("Transparència","static/images/transparencia/transparencia.jpg","Una ciutat entregada al seu equip. Un equip bolcat a la seva ciutat.")
        section.bc
            .bc-wrap
                .bc-2c
                    div
                        h2.bc__title Documentació de la Fundació Foment del Bàsquet
                        .collapse
                            p Documentació
                            p Estatuts
                            p Memòries
                            p Comptes anuals
                    div

