.bc
    display: flex
    position: relative
    justify-content: center
    &--header
        height: 40vh
        align-items: end
    &__bg	
        position: absolute
        inset: 0
        height: 100%
        object-fit: cover

    &--dark_blue
        background: $w-primary-color-dark
        color: $w-white
        .bc__title
            color: $w-white
        .collapse
            color: $w-white
            &::after
                background: linear-gradient($w-primary-color-dark 100%, $w-primary-color-dark 0%)
            &__btn
                color: $w-white

    &--light_blue
        background: $w-primary-color
        color: $w-white
        .bc__title
            color: $w-white
        .collapse
            &::after
                color: $w-white
                background: linear-gradient($w-primary-color 100%, $w-primary-color 0%)
            &__btn
                color: $w-white

    &-wrap
        display: grid
        width: 100%
        max-width: $xlarge
        padding: 2rem 1rem
        grid-gap: 3rem
        position: relative
        z-index: 10

    &-1c
        +breakpoint(large)
            width: 50%

    &-2c
        display: grid
        grid-template-columns: repeat(1, 1fr)
        grid-gap: 2rem
        +breakpoint(large)
            grid-template-columns: repeat(2, 1fr)

    &__supatitle
        font-size: 3rem
        color: $w-primary-color
        font-weight: bold
        padding-bottom: 2rem

    &__title
        font-size: 2rem
        color: $w-primary-color
        font-weight: bold
        padding-bottom: 2rem

    &__subtitle
        font-size: 1.5rem
        font-weight: bold
        padding-bottom: 1rem

    &-patrons
        +breakpoint(large)
            column-count: 4
            column-gap: 1rem
    &-patrons_wrap
        display: grid
        grid-template-columns: 1fr
        +breakpoint(medium)
            grid-template-columns: 1fr 2fr
            
    &-emb_players
        column-gap: 1rem
        column-count: 2
        +breakpoint(medium)
            column-count: 4
        +breakpoint(large)
            column-count: 6
    &-member_list
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 1rem
        +breakpoint(medium)
            grid-template-columns: repeat(4, 1fr)
        +breakpoint(large)
            grid-template-columns: repeat(6, 1fr)

    &-member
        padding-top: 100%
        height: 0
        width: 100%
        position: relative
        &-wrap
            display: flex
            position: absolute
            inset: 0
            background: $w-white
            flex-direction: column
            align-items: center
            justify-content: center
            text-align: center
            padding: 1rem
        
        &-img_cnt
            padding-bottom: 2rem
            width: 100%
            height: 100%
            max-height: 8rem
            display: flex
            align-items: center
            justify-content: center
            object-fit: contain
    &-action_list
        display: grid
        grid-template-columns: 1fr
        grid-gap: 1rem
        +breakpoint(medium)
            grid-template-columns: repeat(2, 1fr)
        +breakpoint(large)
            grid-template-columns: repeat(4, 1fr)
    &-action
        &__img
            width: 100%
            object-fit: contain
            margin-bottom: 1rem
    &-palmares
        display: grid
        grid-template-columns: repeat(2, 1fr)
