.bc
    display: flex
    position: relative
    justify-content: center
    
    &--header
        height: 70vh
        background: $w-primary-color
        padding-top: 4rem
        position: relative
        color: $w-white
        .bc-wrap
            align-content: start
            grid-gap: 1rem
        &::after
            position: absolute
            content: ""
            bottom: 0
            height: 30%
            width: 100%
            background: linear-gradient(rgba($w-white, 0%),rgba($w-white, 100%))
    &--header-cover
        height: 100vh
        &::after
            content: none
    &__bg	
        position: absolute
        inset: 0
        height: 100%
        object-fit: cover
        filter: grayscale(100%)
        opacity: .6


    &--dark_blue, &--light_blue
        color: $w-white
        .bc__title, .bc__subtitle
            color: $w-white
        .collapse
            color: $w-white
            &__btn
                color: $w-white
    
    &--dark_blue
        background: $w-primary-color-dark
        .collapse::after
            background: linear-gradient(rgba($w-primary-color-dark, 0%),rgba($w-primary-color-dark, 100%))
    
    &--light_blue
        background: $w-primary-color
        .collapse::after
            background: linear-gradient(rgba($w-primary-color, 0%),rgba($w-primary-color, 100%))

    &-wrap
        display: grid
        width: 100%
        max-width: $xlarge
        padding: 5rem 1rem
        grid-gap: 3rem
        position: relative
        z-index: 10

    &-1c
        +breakpoint(large)
            width: 50%

    &-2c
        display: grid
        grid-template-columns: repeat(1, 1fr)
        grid-gap: 2rem
        +breakpoint(large)
            grid-template-columns: repeat(2, 1fr)

    &__supatitle
        font-size: 3rem
        color: $w-white
        font-weight: bold
    &__supaintro
        font-size: 1.1rem
        color: $w-white
        max-width: 460px

    &__title
        font-size: 2rem
        color: $w-primary-color
        font-weight: bold
        padding-bottom: 1rem

    &__subtitle
        font-size: 1.5rem
        font-weight: bold
        padding-bottom: .5rem
        color: $w-primary-color

    &-patrons
        +breakpoint(large)
            column-count: 4
            column-gap: 1rem
    &-patrons_wrap
        display: grid
        grid-template-columns: 1fr
        +breakpoint(medium)
            grid-template-columns: 1fr 2fr
            
    &-emb_players
        column-gap: 1rem
        column-count: 2
        +breakpoint(medium)
            column-count: 4
        +breakpoint(large)
            column-count: 6
    &-member_list
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 1rem
        +breakpoint(medium)
            grid-template-columns: repeat(4, 1fr)
        +breakpoint(large)
            grid-template-columns: repeat(6, 1fr)

    &-member
        padding-top: 100%
        height: 0
        width: 100%
        position: relative
        &-wrap
            display: flex
            position: absolute
            inset: 0
            background: $w-white
            flex-direction: column
            align-items: center
            justify-content: center
            text-align: center
            padding: 1rem
        
        &-img_cnt
            padding-bottom: 2rem
            width: 100%
            height: 100%
            max-height: 8rem
            display: flex
            align-items: center
            justify-content: center
            object-fit: contain
    &-action_list
        display: grid
        grid-template-columns: 1fr
        grid-gap: 1rem
        +breakpoint(medium)
            grid-template-columns: repeat(2, 1fr)
        +breakpoint(large)
            grid-template-columns: repeat(4, 1fr)
    &-action
        &__img
            width: 100%
            object-fit: contain
            margin-bottom: 1rem
    &-palmares
        display: grid
        grid-template-columns: repeat(2, 1fr)
