.collapse
    overflow: hidden
    position: relative
    max-height: 10rem
    transition: 1s
    &::after
        content: ""
        position: absolute
        width: 100%
        left: 0
        right: 0
        bottom: 0
        height: 5rem
        background: linear-gradient(rgba($w-white, 0%),rgba($w-white, 100%))
        opacity: 1
        transition: opacity 1s
    &--on
        max-height: 100%
        &::after
            opacity: 0
            
    &__btn
        user-select: none
        text-transform: uppercase
        transition: .5s
        font-weight: bold
        color: $w-primary-color
        margin: 2rem 0
        font-size: .8rem
        &::after
            content: "\2303"
            vertical-align: middle
            display: inline-block
            transform: rotate(180deg) translateY(0.25rem)

        &--on
            &::after
                transform: none
                
