.tb
    display: grid
    max-width: $xlarge
    width: 100%
    grid-column-gap: 1rem
    padding: .5rem 1rem
    align-items: center
    user-select: none
    grid-template-areas: "ham logo man" "nav nav nav"
    grid-template-columns: min-content 1fr 1fr
    backdrop-filter: blur(10px)
    background: rgba($w-primary-color-dark, 50%)
    +breakpoint(large)
        background: none
        grid-template-columns: max-content auto max-content
        grid-template-areas: "logo nav man"
        height: initial
        grid-column-gap: 2rem
        padding: 1rem 1rem

    &-logo
        grid-area: logo
        width: 160px
        z-index: 1
        
        
    &-nav
        grid-column-gap: 1rem
        position: fixed
        font-weight: bold
        grid-area: nav
        display: grid
        transform: translateX(-100%)
        transition: .5s
        background: rgba($w-primary-color-dark, 80%)
        backdrop-filter: blur(10px)
        align-content: start
        width: 100%
        height: 100%
        padding: 1rem
            top: 5rem
        top: 0
        left: 0
        opacity: 0
        +breakpoint(large)
            padding: initial
            background: none
            backdrop-filter: none
            transform: initial
            opacity: 1
            background: transparent
            grid-auto-flow: column
            justify-content: start
            position: initial
        &__item
            font-size: .9rem
            a
                display: block
                padding: 1rem
                color: $w-white
                transition: .5s
                position: relative
                +breakpoint(large)
                    padding: .5rem
                    &::before
                        content: ""
                        position: absolute
                        bottom: 0
                        height: 2px
                        width: 100%
                        background: transparent
                        transition: .5s
                        left: 0
                        
                    &:hover
                        &::before
                            background: white

    &-man
        grid-area: man
        justify-self: end
        z-index: 1

    &-wrap
        position: fixed
        top: 0
        z-index: 20
        width: 100%
        display: flex
        justify-content: center
        transition: 1s
        +breakpoint(large)
            position: absolute
            background: transparent
            &:hover
                background: rgba($w-primary-color-dark, 20%)
                backdrop-filter: blur(10px)

    &-ham
        &-ico
            grid-area: ham
            z-index: 1
            cursor: pointer
            +breakpoint(large)
                display: none
        &-check
            display: none
            &:checked ~ .tb-nav
                transform: translateX(0)
                opacity: 1