@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

button {
  -webkit-appearance: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

html, textarea {
  font-family: "Inter", sans-serif;
}

a {
  color: #1e88e5;
}

p, li {
  line-height: 1.4em;
}

p {
  padding-bottom: 1em;
}

strong {
  font-weight: 700;
}

input {
  font-size: 0.8rem;
}

img {
  width: 100%;
}

.tb {
  display: grid;
  max-width: 1200px;
  width: 100%;
  grid-column-gap: 1rem;
  padding: 0.5rem 1rem;
  align-items: center;
  user-select: none;
  grid-template-areas: "ham logo man" "nav nav nav";
  grid-template-columns: min-content 1fr 1fr;
  backdrop-filter: blur(10px);
  background: rgba(21, 101, 192, 0.5);
}
@media (min-width: 1024px) {
  .tb {
    background: none;
    grid-template-columns: max-content auto max-content;
    grid-template-areas: "logo nav man";
    height: initial;
    grid-column-gap: 2rem;
    padding: 1rem 1rem;
  }
}
.tb-logo {
  grid-area: logo;
  width: 160px;
  z-index: 1;
}
.tb-nav {
  grid-column-gap: 1rem;
  position: fixed;
  font-weight: bold;
  grid-area: nav;
  display: grid;
  transform: translateX(-100%);
  transition: 0.5s;
  background: rgba(21, 101, 192, 0.8);
  backdrop-filter: blur(10px);
  align-content: start;
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-top: 5rem;
  top: 0;
  left: 0;
  opacity: 0;
}
@media (min-width: 1024px) {
  .tb-nav {
    padding: initial;
    background: none;
    backdrop-filter: none;
    transform: initial;
    opacity: 1;
    background: transparent;
    grid-auto-flow: column;
    justify-content: start;
    position: initial;
  }
}
.tb-nav__item {
  font-size: 0.9rem;
}
.tb-nav__item a {
  display: block;
  padding: 1rem;
  color: #fff;
  transition: 0.5s;
  position: relative;
}
@media (min-width: 1024px) {
  .tb-nav__item a {
    padding: 0.5rem;
  }
  .tb-nav__item a::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: transparent;
    transition: 0.5s;
    left: 0;
  }
  .tb-nav__item a:hover::before {
    background: white;
  }
}
.tb-man {
  grid-area: man;
  justify-self: end;
  z-index: 1;
}
.tb-wrap {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 1s;
}
@media (min-width: 1024px) {
  .tb-wrap {
    position: absolute;
    background: transparent;
  }
  .tb-wrap:hover {
    background: rgba(21, 101, 192, 0.2);
    backdrop-filter: blur(10px);
  }
}
.tb-ham-ico {
  grid-area: ham;
  z-index: 1;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .tb-ham-ico {
    display: none;
  }
}
.tb-ham-check {
  display: none;
}
.tb-ham-check:checked ~ .tb-nav {
  transform: translateX(0);
  opacity: 1;
}

.ft {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  grid-gap: 0.75rem;
  margin: 0 auto;
  padding: 4rem 0;
  width: 100%;
}
.ft__rights, .ft__cookies {
  font-size: 0.9rem;
}
.ft__cookies {
  display: block;
}

.bc {
  display: flex;
  position: relative;
  justify-content: center;
}
.bc--header {
  height: 70vh;
  background: #1e88e5;
  padding-top: 4rem;
  position: relative;
  color: #fff;
}
.bc--header .bc-wrap {
  align-content: start;
  grid-gap: 1rem;
}
.bc--header::after {
  position: absolute;
  content: "";
  bottom: -2px;
  height: 30%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), white);
}
.bc--header-cover {
  height: 100vh;
}
.bc--header-cover::after {
  content: none;
}
.bc__bg {
  position: absolute;
  inset: 0;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  opacity: 0.6;
}
.bc--dark_blue, .bc--light_blue {
  color: #fff;
}
.bc--dark_blue .bc__title, .bc--dark_blue .bc__subtitle, .bc--light_blue .bc__title, .bc--light_blue .bc__subtitle {
  color: #fff;
}
.bc--dark_blue .collapse, .bc--light_blue .collapse {
  color: #fff;
}
.bc--dark_blue .collapse__btn, .bc--light_blue .collapse__btn {
  color: #fff;
}
.bc--dark_blue {
  background: #1565c0;
}
.bc--dark_blue .collapse::after {
  background: linear-gradient(rgba(21, 101, 192, 0), #1565c0);
}
.bc--light_blue {
  background: #1e88e5;
}
.bc--light_blue .collapse::after {
  background: linear-gradient(rgba(30, 136, 229, 0), #1e88e5);
}
.bc-wrap {
  display: grid;
  width: 100%;
  max-width: 1200px;
  padding: 5rem 1rem;
  grid-gap: 3rem;
  position: relative;
  z-index: 10;
}
@media (min-width: 1024px) {
  .bc-1c {
    width: 50%;
  }
}
.bc-2c {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}
@media (min-width: 1024px) {
  .bc-2c {
    grid-template-columns: repeat(2, 1fr);
  }
}
.bc__supatitle {
  font-size: 36.9230769231px;
  line-height: 1.1em;
  font-weight: 700;
  color: #1e88e5;
  color: #fff;
  font-weight: bold;
}
@media (min-width: 640px) {
  .bc__supatitle {
    font-size: 48px;
  }
}
.bc__supaintro {
  font-size: 1.1rem;
  color: #fff;
  max-width: 460px;
}
.bc__title {
  font-size: 27.6923076923px;
  line-height: 1.1em;
  font-weight: 700;
  color: #1e88e5;
  font-weight: bold;
  padding-bottom: 1rem;
}
@media (min-width: 640px) {
  .bc__title {
    font-size: 36px;
  }
}
.bc__subtitle {
  font-size: 18.4615384615px;
  line-height: 1.1em;
  font-weight: 700;
  color: #1e88e5;
  font-weight: bold;
  padding-bottom: 0.5rem;
  color: #1e88e5;
}
@media (min-width: 640px) {
  .bc__subtitle {
    font-size: 24px;
  }
}
.bc__subsubtitle {
  font-size: 18px;
  line-height: 1.1em;
  font-weight: 700;
  color: #1e88e5;
  line-height: 1.1em;
  font-weight: bold;
  padding-bottom: 0.5rem;
  color: #303030;
  display: block;
}
@media (min-width: 640px) {
  .bc__subsubtitle {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .bc-patrons {
    column-count: 4;
    column-gap: 1rem;
  }
}
.bc-patrons_wrap {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 640px) {
  .bc-patrons_wrap {
    grid-template-columns: 1fr 2fr;
  }
}
.bc-emb_players {
  column-gap: 1rem;
  column-count: 2;
}
@media (min-width: 640px) {
  .bc-emb_players {
    column-count: 4;
  }
}
@media (min-width: 1024px) {
  .bc-emb_players {
    column-count: 6;
  }
}
.bc-member_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
@media (min-width: 640px) {
  .bc-member_list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1024px) {
  .bc-member_list {
    grid-template-columns: repeat(6, 1fr);
  }
}
.bc-member {
  padding-top: 100%;
  height: 0;
  width: 100%;
  position: relative;
}
.bc-member-wrap {
  display: flex;
  position: absolute;
  inset: 0;
  background: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
.bc-member-img_cnt {
  padding-bottom: 2rem;
  width: 100%;
  height: 100%;
  max-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}
.bc-action_list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
@media (min-width: 640px) {
  .bc-action_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .bc-action_list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.bc-action__img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 1rem;
}
.bc-palmares {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.collapse {
  overflow: hidden;
  position: relative;
  max-height: 10rem;
  transition: 1s;
}
.collapse::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5rem;
  background: linear-gradient(rgba(255, 255, 255, 0), white);
  opacity: 1;
  transition: opacity 1s;
}
.collapse--on {
  max-height: 100%;
}
.collapse--on::after {
  opacity: 0;
}
.collapse__btn {
  user-select: none;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: bold;
  color: #1e88e5;
  margin: 2rem 0;
  font-size: 0.8rem;
}
.collapse__btn::after {
  content: "⌃";
  vertical-align: middle;
  display: inline-block;
  transform: rotate(180deg) translateY(0.25rem);
}
.collapse__btn--on::after {
  transform: none;
}

.cookie-though {
  /* The colors used to style the modal */
  --ct-primary-400: #1e88e5;
  --ct-primary-300: #5A5A5A;
  --ct-primary-200: #f2f6f9;
  --ct-primary-100: #EDEDED;
  --ct-white: #ffffff;
  --gray-400: #5A5A5A;
  --gray-300: #f2f6f9;
  /* The colors used to style: customizationButton, headerDescription and cookiePolicy */
  --ct-text: #6b7280;
  /* The colors used to style the title elements */
  --ct-subtitle: var(--ct-primary-300);
  --ct-title: var(--ct-primary-400);
  /* The color used to style the cookie svg */
  --ct-cookie: var(--ct-primary-400);
  /* The colors used to style a policy */
  --ct-policy: var(--ct-white);
  --ct-policy-enabled: var(--ct-primary-400);
  --ct-policy-text: var(--ct-primary-400);
  --ct-policy-text-enabled: var(--ct-white);
  --ct-policy-essential: var(--ct-primary-100);
  /* The colors used to style the sliders */
  --ct-slider-primary: var(--gray-400);
  --ct-slider-secondary: var(--gray-300);
  --ct-slider-enabled-primary: var(--ct-white);
  --ct-slider-enabled-secondary: #6b7280;
  /* The font color of the text inside a policy when it's enabled  */
  --ct-enabled-option-color: var(--ct-white);
  /* The margin underneath text elements */
  --ct-text-margin: 0.25rem;
  /* The padding of the modal and margin of the banner, toggleButton and customization */
  --ct-default-padding: 1rem;
  /* The padding/margin used to seperate the options and the permission buttons */
  --ct-seperator-padding: 0.5rem;
  /* The font size of the header title */
  --ct-heading-font-size: 1rem;
  /* The font size of the header sub title */
  --ct-sub-heading-font-size: 0.875rem;
  /* The font size of text */
  --ct-text-font-size: 0.75rem;
  /* The font size of the customize button and permission button labels */
  --ct-button-font-size: 0.8125rem;
  /* The font used in the app */
  --ct-primary-font: $global-font-family;
  /* The font used for header description and policy description */
  --ct-secondary-font: $global-font-family;
  /* The z-index you want the root container to have */
  --ct-z-index: 9999;
  line-height: 1.5em;
}