.ft
    a(href="/")
        img(src="static/images/foment-basquet-blue.svg" alt="foment basquet manresa")
    span.ft__rights Tots els drets reservats.
    a.ft__cookies(href="https://www.basquetmanresa.com/text-cookies/" target="_blank") Política de cookies