.ft
    a(href="/")
        img(src="static/images/foment-basquet.png" alt="foment basquet manresa")
    span Tots els drets reservats.
    a(href="https://www.basquetmanresa.com/text-cookies/" target="_blank") Política de cookies