.flex.flex-col.max-w-screen-xl.mx-auto.px-4.py-10.space-y-1
    a(href="/" ): img(src="static/images/foment-basquet.png")
    span Tots els drets reservats.
    a.underline.text-blue-900(href="https://www.basquetmanresa.com/text-cookies/" target="_blank") Política de cookies