div.tb-wrap
    div.tb
        label.tb-ham-ico(for="tb-ham__check")
            svg(height="32px" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                path(d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z")
        input.tb-ham-check#tb-ham__check(type="checkbox")
        a.tb-logo(href="index.html")
            img(src="static/images/foment-basquet.png", alt="")
        
        ul.tb-nav
            mixin anchor(href, name, selected)
                li.tb-nav__item
                    a(href=href)= name

            +anchor('about.html', 'La Fundació')
            +anchor('manresa.html', 'Manresa=Bàsquet')
            +anchor('teams.html', 'Esport Base')
            +anchor('donacions.html', 'Donacions')
            +anchor('main-team.html', 'Lliga Endesa')
            +anchor('contact.html', 'Contacte')
        
        a.tb-man(href="index.html")
            img(src="static/images/basquet-manresa.png", alt="")